<launch>
  <arg name="mav_name" default="mikey"/>

  <rosparam command="load" file="$(find relative_nav)/param/$(arg mav_name).yaml"/>
  <group ns="$(arg mav_name)">

    <rosparam subst_value="True">
      xbox:           { deadzone: 0.15,
                        autorepeat_rate: 10}
      fcu_io:         { imu_pub_rate: 0.0,
                        rc_send_rate: 50.0,
                        serial_port: /dev/ttyUSB1 }

    </rosparam>

    <!-- load "robot globals" (mass, attitude extents, etc...) -->


    <!-- <node name="xbox"                pkg="joy"                 type="joy_node"/> -->
    <!-- <node name="rc_joy" 						pkg="ros_copter"							type="rc_joy"/> -->

    <!-- Load FCU parameters -->
    <rosparam command="load" file="$(find fcu_io)/param/$(arg mav_name).yaml"/>
    <node name="fcu_io"                pkg="fcu_io"            type="fcu_io_node" output="screen"/>
  </group>
</launch>
